@import 'variaveis';

.liked-songs {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaçamento entre as músicas */
  
    .song {
      display: grid;
      grid-template-columns: 19px 20px 1fr 1fr 50px; 
      //15px para a coluna do número da música.
     // 20px para a coluna do ícone de play.
     // 1fr para a coluna do título da música.
      //1fr para a coluna do artista.
     // 50px para a coluna do tempo da música
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      transition: background-color 0.3s; /* Adiciona uma transição suave */
  
      &:hover {
        background-color:$cor-primaria; /* Cor de fundo ao passar o mouse */
      }
  
      .song-number {
        text-align: center;
      }
  
      .song-play {
        cursor: pointer;
        color: #1db954; /* Cor do ícone de play */
      }
  
      .song-info {
        display: flex;
        flex-direction: column;
  
        .musica-titulo {
          font-weight: 700;
        }
  
        .musica-artista {
          color: $preto-transparent-30;
        }
      }
  
      .musica-album-nome {
        color:$preto-transparent-30;
      }
  
      .musica.tempo {
        text-align: right;
        color: $preto-transparent-30;
      }
    }
  }
  

// .table{
//     width: 100%;
//     text-align: left;
//     table-layout: fixed;
//     border-collapse: separate;
//     transition: background-color 0.3s;
//     display: flex;
//     flex-direction: column;
    
   
// .play{
//     color: $cor-primaria;
//     font-size: .5rem;
//     cursor: pointer;
// }
  
// thead th{
//     font-size: .75rem;
//     font-weight: 600;
//     color: $preto-transparent-30;
   
// }
//  th, td{
//     padding-right: 20px;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     &:hover {
//         cursor: pointer;
//         color: $cor-primaria;
//          /* Cor de fundo ao passar o mouse */
//       }
//     &:nth-child(1){
//         padding-left: 10px;
//     }
//  }

// tr{
//     &:houver{
//         cursor: pointer;
        
//         td{
//             color: $cor-primaria;
//         }
//     }
//     td {
//         padding: 10px 20px 10px 0px;
//         margin-top: 10px;
//         font-weight: 500;
//         font-size: .85rem;
//         color: $preto-transparent-70;

//   &:nth-child(1){
//     padding-left: 10px;
//   }
//  }
// }
// .w{
//     @for $i from 1 to 10 {
//       $width: $i * 5;
//       &-#{ $width } {
//         width: #{ $width * 1% };
//       }
//     }
//   }

//   .direita {
//     text-align: right;
//   }
//   musica-titulo{
//     font-weight: 700;
//   }
// }